.item-detail {
    display: flex;
    gap: 100px;
    max-width: 1180px;
    align-items: flex-start;
    padding: 90px 80px;
    margin: 0 auto;
}

.item-detail__image-area {
    width: 45%;
    max-width: 520px;
}

.item-detail__image {
    width: 100%;
    max-width: 520px;
    margin-top: 50px;
    object-fit: contain;
    display: block;
}

.item-detail__content {
    width: 45%;
    max-width: 480px;
}

.item-detail__name {
    font-size: 32px;
    margin-bottom: 4px;
}

.item-detail__brand {
    font-size: 14px;
    margin-bottom: 16px;
}

.item-detail__price {
    font-size: 28px;
    margin-bottom: 16px;
}

.item-detail__price span {
    font-size: 14px;
}

.item-detail__actions {
    display: flex;
    gap: 32px;
    margin-left: 20px;
    text-align: center;
    align-items: flex-start;
}

.item-detail__action {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-detail__action i {
    font-size: 30px;
    height: 30px;
    margin-bottom: 2px;
}

.item-detail__action p {
    margin: 0 0 10px;
}

.item-detail__purchase {
    display: block;
    width: 100%;
    background-color: #ff5555;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
}

.item-detail__section {
    margin-bottom: 30px;
}

.item-detail__section p {
    font-size: 20px;
    margin-bottom: 12px;
}

.item-detail__info-row {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 16px;
}

.item-detail__like-button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 28px;
    cursor: pointer;
}

.liked {
    color: #ff5555;
}

.item-detail__info-label {
    margin-right: 40px;
    font-weight: bold;
}

.item-detail__categories {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.item-detail__tag {
    background-color: #e5e5e5;
    padding: 3px 14px;
    border-radius: 20px;
    font-size: 13px;
}

.item-detail__comments  h2 {
    color: #555;
    font-size: 24px;
    margin-bottom: 16px;
}

.item-detail__comment-user {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item-detail__avatar {
    width: 44px;
    height: 44px;
    background-color: #ddd;
    border-radius: 50%;
}

.item-detail__comment-box {
    background-color: #e5e5e5;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 24px;
}

.item-detail__textarea {
    width: 100%;
    height: 150px;
    display: block;
    margin-bottom: 16px;
}

.item-detail__comment-button {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 30px;
    border: none;
    background-color: #ff5555;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.item-detail__purchase:disabled,
.item-detail__comment-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}